.header {
    min-height: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 40rem;
    align-items: center;
    justify-content: space-between;

    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    margin: auto;
    background-color: #9C3848;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);

    position: sticky;
    top: 0;
}

.menuIcon-span {
    height: 5vh;
    border: none;
    border-radius: 10px;
    margin: 0;
    padding: 2rem 1rem;
    background-color: inherit;
    transition: all 0.5s ease-in-out;
    align-items: center;
    display: flex;
    user-select: none;
}
.menuIcon-span:hover{
    cursor: pointer;
    background-color: rgba(86, 97, 93, 0.5);
    box-shadow: 1px 5px 10px rgba(0,0,0,0.1);
}
.menuIcon {
    height: 110%;    
    transition: transform 0.5s ease-in-out;
}
.menuIcon-open {
    transform: rotate(270deg);
}

.logo {
    max-height: 5vh;
    user-select: none;
}

.navigation {
    position: absolute;
    top: 10vh;
    background-color: #56615D;
    min-height: 80vh;
    width: 15vw;
    transform: translateX(-100%);
    opacity: 0;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.2), 0px 5px 10px rgba(0,0,0,0.5);

    color: #FEFEFE;
    font-size: 2rem;
    padding: 0rem 2rem;

    transition: all 0.5s ease-in-out;
}
.navigation-open {
    transform: translateX(0%);
    opacity: 1;
}

.navigation h1 {
    text-align: center;
    font-size: 4rem;
}
.navigation>ul>li{
    display: flex;
    margin: 1rem 0rem;
}
.navigation>ul>li:hover {
    color: #0c090D;
    cursor: pointer;
}

.links{
    color: inherit;
    width: 100%;
    text-decoration: none;
}