.mainContainer {
    width: 80%;
    display: flex;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex: 1 1 40rem;
    flex-direction: column;
    background-color: #FEFEFE;
    justify-content: space-around;
    align-items: center;

}